/* Header */
#header {
	background-color: #1f1815;
	background-attachment: scroll,								fixed;
	background-image: url("../../images/dott.png"), url("../../images/avila.jpg");
	background-position: top left,							top left;
	background-repeat: repeat,								no-repeat;
	background-size: auto,								auto 100%;
	color: rgba(255, 255, 255, 0.5);
	height: 100%;
	left: 0;
	padding: 8em 4em 0 0;
	position: fixed;
	text-align: right;
	top: 0;
	width: 30%;
}

	#header strong, #header b {
		color: #ffffff;
	}

	#header h2, #header h3, #header h4, #header h5, #header h6 {
		color: #ffffff;
		font-family: 'Overlock', cursive;
	}

	#header h1 {
		color: rgba(255, 255, 255, 0.5);
		font-size: 2em;
		line-height: 1.75em;
		margin: 0;
		font-family: 'Overlock', cursive;
	}

	#header h2 {
		font-size: 1em;
		color: #C7C7C7;
		margin-top: 0.8em;
		letter-spacing: 6px;
	}

	#header .image.avatar {
		margin: 0 0 1em 0;
		width: 6.25em;
	}

	.image.avatar {
		border-radius: 100%;
	}

		.image.avatar:before {
			display: none;
		}

		.image.avatar img {
			border-radius: 100%;
			width: 30%;
		}

/* main */
#main {
		margin-left: 30%;
		/*max-width: 54em;*/
		padding: 8em 4em 4em 4em;
		width: calc(100% - 30%);
	}

/* XLarge */

	@media screen and (max-width: 1800px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 12pt;
			}

	}

/* Large */

	@media screen and (max-width: 1280px) {

		/* Header */

			#header {
				padding: 6em 3em 3em 3em;
				width: 30%;
			}

				#header h1 {
					font-size: 1.25em;
				}

					#header h1 br {
						display: none;
					}

		/* Main */

			#main {
				margin-left: 30%;
				max-width: none;
				padding: 6em 3em 3em 3em;
				width: calc(100% - 30%);
			}

	}

/* Medium */

	@media screen and (max-width: 980px) {

		/* Basic */

			h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
				display: none;
			}

		/* Header */

			#header {
				background-attachment: scroll;
				background-position: top left, center center;
				background-size: auto,		cover;
				left: auto;
				padding: 6em 4em;
				position: relative;
				text-align: center;
				top: auto;
				width: 100%;
			}

				#header h1 {
					font-size: 1.75em;
				}

					#header h1 br {
						display: inline;
					}

		/* Main */

			#main {
				margin: 0;
				padding: 6em 4em;
				width: 100%;
			}

	}

/* Small */

	@media screen and (max-width: 736px) {

		/* Basic */

			h1 {
				font-size: 1.5em;
			}

			h2 {
				font-size: 1.2em;
			}

			h3 {
				font-size: 1em;
			}

			header.major h2 {
				font-size: 1.35em;
			}

		/* List */

			ul.labeled-icons li {
				padding-left: 2em;
			}

				ul.labeled-icons li h3 {
					line-height: 1.75em;
				}

		/* Header */

			#header {
				padding: 2.25em 1.5em;
			}

				#header h1 {
					font-size: 1.35em;
				}

		/* Main */

			#main {
				padding: 2.25em 1.5em 0.25em 1.5em;
			}

				#main > section {
					margin: 2.25em 0 0 0;
					padding: 2.25em 0 0 0;
				}

	}

/* XSmall */

	@media screen and (max-width: 480px) {

		/* List */

			ul.actions {
				margin: 0 0 2em 0;
			}

				ul.actions li {
					display: block;
					padding: 1em 0 0 0;
					text-align: center;
					width: 100%;
				}

					ul.actions li:first-child {
						padding-top: 0;
					}

					ul.actions li > * {
						margin: 0 !important;
						width: 100%;
					}

						ul.actions li > *.icon:before {
							margin-left: -2em;
						}

				ul.actions.small li {
					padding: 0.5em 0 0 0;
				}

					ul.actions.small li:first-child {
						padding-top: 0;
					}

		/* Header */

			#header {
				padding: 4.5em 1.5em;
			}

				#header h1 br {
					display: none;
				}

	}

